@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 148, 163, 184;
  --background-rgb: 15, 23, 42;
}

a,
a:focus {
  outline: none;
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
}

.nav-link {
  margin-bottom: 20px;
  padding-left: 60px;
  text-transform: uppercase;
  font-size: 14px;
  position: relative;
}

.nav-link.active {
  color: #e2e8f0;
  font-weight: 600;
  padding-left: 90px;
}
.nav-link::before {
  content: "";
  width: 50px;
  height: 2px;
  background-color: rgb(var(--foreground-rgb));
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}
.nav-link.active::before {
  width: 80px;
  background-color: white;
}
